h1 {
	color: red;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

span.path {
	background-color: yellow;
}

table {
	width: 100%;
}

td.box {
	border: 4px solid grey;
	padding: 5%;
}

table.subbox td {
	width: 33.3%;
}

textarea {
	width: 100%;
}